<div
  class="card bg-[#C8C8FF] shadow-md p-6 w-full max-w-md mx-auto space-y-4 mt-4 mb-4"
>
  <label
    class="block text-lg font-medium text-base-content bg-base-200 p-3 rounded-md border"
  >
    <%= question_num %>. <%= question %>
  </label>
  <textarea
    placeholder="<%= placeholder %>"
    class="textarea textarea-bordered w-full h-48 text-med p-3 rounded-md bg-base-200"
  ></textarea>
</div>
